## Data Visualiazation of Supply Sales with Streamlit Framework

In [1]:
# library data-visualization
import numpy as np
import pandas as pd
pd.set_option('display.width', 1000)
pd.set_option('display.max_columns', 1000)

# library manipulation data
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# load-dataset
dataset = pd.read_csv("dataset/dataset-supply.csv", parse_dates=["Ship Date"])
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8092 entries, 0 to 8091
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ship Date     8092 non-null   datetime64[ns]
 1   Month         8092 non-null   object
 2   Year          8092 non-null   int64
 3   Ship Mode     8092 non-null   object
 4   Area          8092 non-null   object
 5   Region        8092 non-null   object
 6   Category      8092 non-null   object
 7   Sub-Category  8092 non-null   object
 8   Sold          8092 non-null   int64
 9   Profit        8092 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 632.3+ KB

In [3]:
print(dataset)

      Ship Date     Month  Year       Ship Mode        Area Region         Category Sub-Category  Sold   Profit
0    2016-11-11  November  2016    Second Class        Jawa  South        Furniture    Bookcases   270   503000
1    2016-11-11  November  2016    Second Class     Sumatra  South        Furniture       Chairs   740  2635000
2    2016-06-16      Juni  2016    Second Class        Bali   West  Office Supplies       Labels    20    82500
3    2015-10-18   Oktober  2015  Standard Class       Papua  South  Office Supplies      Storage    30    30200
4    2014-06-14      Juni  2014  Standard Class    Sulawesi   West        Furniture  Furnishings    50   170100
...         ...       ...   ...             ...         ...    ...              ...          ...   ...      ...
8087 2014-01-23   Januari  2014    Second Class    Sulawesi  South        Furniture  Furnishings    30    49300
8088 2017-03-03     Maret  2017  Standard Class  Kalimantan   West        Furniture  Furnishings   100   187600
8089 2017-03-03     Maret  2017  Standard Class        Jawa   West       Technology       Phones   260   232800
8090 2017-03-03     Maret  2017  Standard Class     Sumatra   West  Office Supplies        Paper    30   159900
8091 2017-05-09       Mei  2017    Second Class        Bali   West  Office Supplies   Appliances   250   875400

[8092 rows x 10 columns]

In [4]:
# Show min-max datetime
print("Min Date : "+str(dataset["Ship Date"].min()))
print("Max Date : "+str(dataset["Ship Date"].max()))

Min Date : 2014-01-07 00:00:00
Max Date : 2017-12-31 00:00:00

In [5]:
# show unique values years
dataset["Year"].sort_values().unique()

array([2014, 2015, 2016, 2017], dtype=int64)